<ion-header>
  <ion-toolbar>
    <ion-title>
      <p class="titulo"> Usuario: {{ nome_usuario }} - <ion-button size="small" (click)="logout()">Sair</ion-button>
      </p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding bg-login">
    Para editar e apagar a informação abaixo, bastar arrastar para direta.


    <ion-list>

      <ion-item-sliding id="listaProdutos" *ngFor="let produto of produtos">
        <ion-item>
          <ion-label>
            <h4>Cliente: {{ produto.cliente }}</h4>
            <h4>Tipo de Corte: {{ produto.tipo_corte }}</h4>
            <h4>Quantidade: {{ produto.quantidade }}</h4>
            <h4>Rota: {{ produto.rota }}</h4>
           
          </ion-label>
          <ion-note slot="end">
            <h6>R$: {{ produto.valor}}</h6>
          </ion-note>
        </ion-item>

        <ion-item-options side="start">
          <ion-item-option color="danger">
            <ion-icon slot="icon-only" name="trash" (click)="removeProdutoAlerta(produto)"></ion-icon>
          </ion-item-option>
          <ion-item-option>
            <ion-icon slot="icon-only" name="create" (click)="editarProduto(produto.id)"></ion-icon>
          </ion-item-option>
        </ion-item-options>

      </ion-item-sliding>
    </ion-list>

  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="adcionarProduto()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>